

.info {
  margin-top: 24px;
  width: 622px;
  padding: 32px;
  height: 808px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 32px 0px rgba(232, 232, 232, 1);

  border-radius: 15px;

  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:15px;

    >Text{
      height: 64px;
      color: rgba(40, 40, 40, 1);
      font-size: 36px;
      text-align: left;
      font-family: PingFang-SC-Semibold;
    }
  }
  .items{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: left;


    .splitLine{
      margin-left:82px;
      width: 549px;
      height: 1px;
      border-bottom: 1px solid rgba(232, 232, 232, 1);
    }

    >View {
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;

      height:80px;
      margin: 12px 0;
      //
      //>View{
      //}


      >Text:nth-child(2){
        margin-left: 32px;
        width: 56px;
        height: 40px;
        color: rgba(40, 40, 40, 1);
        font-size: 28px;
        text-align: left;
        font-family: PingFang-SC-Regular;
      }

      >Text:nth-child(3) {
        margin-left: 32px;
        width: 169px;
        height: 40px;
        opacity: 70%;
        color: rgba(153, 153, 153, 1);
        font-size: 28px;
        text-align: left;
        font-family: PingFang-SC-Regular;
      }
    }
  }
}
